/*
*{
    border: 1px dashed;
    color: 0000ff;
    }
*/

#decoration {
    float: right;
    display: inline-block;
    list-style-type: none;
    text-decoration: none;
    clear: both;
}

.navigacija {
    display: inline-block;
    height: 35px;
    float:right;
    width: 400px;
    z-index:-1;
    }
.material-icons {
    font-size: 35 px;
    }
#jazo {
    width: 9%;
    border-radius:25px;
    clear: both;
}
.logob{
    width: 400px;
    position: relative;
    margin: 0 auto;
    clear: both;
}